.homepage-container {
  display: flex;
  justify-content: space-between;
}
.small {
  display: none;
}
.left-container {
  display: flex;
  flex-direction: column;
  padding: 2.063rem 0 0 6.25rem;
}
.truck-image {
  width: 107px;
  /* height: 83px; */
}
.text-container {
  padding-top: 6.93rem;
}
.main-heading {
  color: #0e2368;
  width: 21.5625rem;
  height: 12.9375rem;
  top: 14.1875rem;
  left: 6.25rem;
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 4.3125rem;
  letter-spacing: 0;
  text-align: left;
}
.red {
  color: #e23744;
}
.small-text {
  width: 21.6rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.gray {
  color: #444957;
}
.explore-button {
  width: 190px;
  height: 63px;
  top: 556px;
  padding: 14px 34px 14px 0;
  border-radius: 34px;
  gap: 7px;
}
.pizza-image {
  position: relative;
}
.curve-image {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 768px) {
  .pizza-image {
    top: 0;
    left: 0;
    right: 0;
  }
  .curve-image {
    position: absolute;
    right: 0;
    left: 0;
  }
  .homepage-container {
    display: flex;
    flex-direction: column-reverse;
    /* min-width: 768px; */
  }
  .left-container {
    width: 100%;
  }
  .curve-image {
    top: 0;
    left: 0;
  }
  .truck-image {
    display: none;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-heading {
    top: 0;
    left: 0;
    text-align: center;
  }
  .small-text {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .small {
    display: block;
  }
  .big {
    display: none;
  }
  .pizza-image {
    /* top:-20px; */
    /* left: -20px; */
    width: 100;
  }
  .curve-image {
    position: absolute;
    width: 100%;
  }
  .left-container{
    padding: 0;
  }
  .main-heading {
    color: #0e2368;
    width: 15rem;
    height: 8.125rem;
    font-size: 2.375rem;
    line-height: 2.875rem;
    letter-spacing: 0; /* No change */
    text-align: center;
  }
  .explore-button {
    width: 7.5rem;
    height: 2.5rem;
    padding: 0.75rem 1.875rem;
    border-radius: 1.875rem;
  }
  
}
