.homepage-container {
  display: flex;
  justify-content: space-between;
}

.left-container {
  display: flex;
  flex-direction: column;
  padding: 2.063rem 0 0 6.25rem;
}
.truck-image {
  width: 107px;
  /* height: 83px; */
}
.text-container {
  padding-top: 6.93rem;
}
.main-heading {
  color: #0e2368;
  width: 345px;
  height: 207px;
  top: 227px;
  left: 100px;
  font-size: 62px;
  font-weight: 700;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
}
.red {
  color: #e23744;
}
.small-text {
    width: 21.6rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.gray {
  color: #444957;
}
.explore-button {
  width: 190px;
  height: 63px;
  top: 556px;
  padding: 14px 34px 14px 0;
  border-radius: 34px;
  gap: 7px;
}
.pizza-image {
  position: relative;
}
.curve-image {
  position: absolute;
  right: 0;
}
@media (max-width: 768px){
  .homepage-container{
    display: flex;
    flex-direction: column-reverse;
    min-width: 768px;
  }
  .curve-image{
    top: 0;
    left: 0;
  }
  .truck-image{
    display: none;
  }
  .text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-container{
    padding: 0;
  }
  .main-heading{
    top: 0;
    left:0;
    text-align: center;
  }
  .small-text{
    text-align: center;
  }
}
