.cardsection-heading {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #0e2368;
  /* You may not need these positioning properties here */
}
.cardsection-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 9.875rem 0 9.875rem 3.75rem;
}
.cards-container {
  display: flex;
  width: 100%;
  column-gap: 2.563rem;
  /* flex-wrap: wrap; */
  row-gap: 2rem;

}
.next-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.875rem;
}
.button {
  width: 1.75rem;
  height: 1.8125rem;
}
button {
  all: unset;
}
.small-number {
  width: 1.875rem;
  height: 1.75rem;
  top: 147.375rem;
  left: 44.0625rem;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0;
  text-align: left;
  color: #424961;
}
@media (min-width: 1342px) {
  .cards-container{
    /* column-gap: 2rem; */
  }
}
@media screen and (max-width: 1300px){
  .cards-container {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    flex-wrap: wrap;
    row-gap: 2rem;
  
  }
}
@media (max-width: 768px){
  .cards-container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .cardsection-container{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardsection-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.5rem;
    height: 3.375rem;
    top: 91rem;
    left: 5rem;
    font-family: "Poppins";
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 3.375rem;
    letter-spacing: 0.0025rem;
    text-align: left;
  }
}
